.npc-layout {
  height: 90vh;
  top: 5vh;
  width: 90vw;
  left: 5vw;
  position: absolute;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0);
}

.npc-main {
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.npc-header {
  flex-grow: 0;
  flex-shrink: 0;
}

.npc-sider {
  background-color: rgba(0, 0, 0, 0);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.npc-content {
  flex-grow: 1;
}